doctype html
html
    head
        title= title
        link(rel='stylesheet' href='lib/bootstrap.min.css')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') Dice Roller


        block content

        script(src='lib/bundle.js')
